@model IEnumerable<DataAccessLayer.Models.Category>

@foreach (var item in Model)
{
    <li>
        <a  class="nav-link">
            <i class="flaticon-desktop-computer"></i>
            @item.CategoryName
        </a>
    </li>
}
