
@{
    ViewData["Title"] = "successfullyProfileEdited";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="alert alert-success col-md-4">
کاربر گرامی با نام کاریردی @ViewBag.name، مشخصات شما با موفقیت ویرایش شد. برای ورود به سایت ، روی دکمه زیر بزنید
        <hr />
        <a class="btn btn-primary" asp-controller="Account" asp-action="Login">ورود به سایت</a>

    </div>
</div>

