
@{
    ViewData["Title"] = "Error";
}

<!-- Start Page Banner -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>خطای 404</h2>

            <ul>
                <li><a href="index.html">صفحه اصلی</a></li>
                <li>خطای 404</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner -->
<!-- Start Error Area -->
<section class="error-area ptb-50">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="error-content">
                    <img src="/assets/img/404.png" alt="error">

                    <h3>خطای 404 : صفحه یافت نشد</h3>
                    <p>صفحه ای که به دنبال آن هستید ممکن است در صورت تغییر نام آن حذف شده باشد یا به طور موقت در دسترس نباشد.</p>

                    <a href="/" class="default-btn">
                        رفتن به خانه
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Error Area -->
